.all-sms-content {
    float: left;
    width: 100%;
}
.template-sms-item {
    float: left;
    padding-bottom: 15px;
    width: 100%;
}
.template-sms-item > img {
    float: left;
    width: 100%;
}
#paidversion{
    width: 100%;
}
#row_smsfree_versionpaid_versionpaidfield td:first-child{display:none;}
#row_smsfree_versionpaid_versionpaidfield td:last-child{display:none;}