<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <smsfree>
        	<smsgatways>
        		<msg91apiurl>https://control.msg91.com/api/sendhttp.php</msg91apiurl>
        	</smsgatways>
        </smsfree>
    </default>
</config>